body{

    background-color: #4d20e2;
    
}
header{
    color: white;
    text-align: center; 
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: rgb(222, 231, 58);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section{
    background-color: beige;
    border-radius: 10px;
    padding: 15px;
    width: 500px;;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.274);
}
div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input#adicionar{
    background-color: red;
    color: white;
    font-weight:200;
    border-radius: 4px;

}
input#finalizar{
    background-color: blue;
    color: white;
    font-weight:200;
    border-radius: 4px;
}
select#flista{
    width: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       
}
footer{
    color: white;
    text-align: center; 
    font-style: italic;
    font-size: small;
}